// COLOR
$main_color:#1b2550;
$semi_color:#fff;

// TEXT SIZE
$text_size:18px;
$title_size:28px;

//TIME
$transition_time:.3s;

//TRANSITION
$transition: all ease-in-out .3s;

.container{
    max-width: 1350px !important;
    margin: 0 auto;
}