@import './base';

.main{
    position: relative;
    padding: 0 0 10rem;
    // background-color: #fff;
    // BANNER
    .thumbnail{
        position: relative;
        video{
            width: 100%;
            filter: brightness(.6);
        }
        .thumbnail__btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            cursor: pointer;
            transition: $transition;
            &:hover{
                top: 49%;
                transition: $transition;
            }
            a{
                border: 2px solid #fff;
                background-color: transparent;
                color: #fff;
                &:hover{
                    background-color: $main_color;
                    transition: $transition;

                }
            }
        }
    }
    // COLLECTION
    .collection{
        margin-top: 4.5rem;
        background-color: #fff;
        padding: 7rem 0 ;
        .collection__list{
            display: flex;
            padding: 4rem 2rem 10rem;
            .item{
                height: 40rem;
                border-radius: .5rem;
                box-shadow: $box-shadow;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: .5rem;
                }
                .item__name{
                    font-size: 1.6rem;
                    padding: 1rem 0;
                    font-weight: 600;
                    color: $text_color;
                }
            }
        }
    }
    // ABOUT CONTENT
    .about{
        padding: 7rem 0 0;
        .about__header{
            background-image:linear-gradient(rgba(0,0,0,0.57),rgba(0,0,0,0.57)),url(../public/imgs/brand/card.jpg);
            background-attachment: fixed;
            min-height: 70vh;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            .about__header_content{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 10rem;
                color: #fff;
                .title{
                    font-size: 10rem;

                }
                .btn{
                    margin-top: 5rem;
                    border:2px solid #fff;
                    transition: $transition;
                    &:hover{
                        transition: $transition;
                        margin-top: 4.5rem;
                        background: #fff;
                        color: $main_color;
                    }
                }
            }
        }
        .about__content{
            display: flex;
            justify-content: space-between;
            // align-items: center;
            padding: 0 0 10rem;
            .image{
                width: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: .2rem;
                }
            }
            .detail{
                width: 45%;
                display: flex;
                flex-direction: column;
                gap: 4rem;
                padding: 0 3rem;
                .headline{
                    font-size: 3rem;
                    color: $main_color;
                }
                .title{
                    font-size: 5rem;
                    color: #16213E;
                }
                .desc{
                    font-size: 1.4rem;
                    line-height: 1.6;
                    // font-weight: 600;
                    color: $text_color;
                }
                .detail__item{
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    color: $text_color;
                    .item{
                        font-size: 1.4rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        padding: 0rem 3rem 0 0;
                        line-height: 1.6;

                        // font-weight: 600;
                        line-height: 1.6;
                        .item__icon{
                            // width: 10rem;
                            // height: 5rem;
                            // line-height: 5rem;
                            padding: 1rem;
                            font-size: 3rem;
                            text-align: center;
                            color: $main_color;
                            border-radius: .2rem;
                            background-color: transparent;
                            // border: 2px solid $main_color;
                            transition: $transition;
                            &:hover{
                                transition: $transition;
                                transform: rotate(10deg);
                            }
                        }
                    }
                }
            }
        }
    }
    // PRODUCT
    .product{
        padding: 7rem 0 ;
        .product__content{
            .list__item{
                .product__list{
                    display: flex;
                    padding: 7rem 2rem;
                    // background-color: red;
                    .item{
                        height: 40rem;
                        border-radius: .5rem;
                        box-shadow: $box-shadow;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit  : cover;
                            border-radius: .5rem;
                        }
                        .item__detail{
                            font-size: 1.8rem;
                            padding: .7rem 0;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    // SALE
    .sale{
        padding: 7rem 0 0;
        .sale__list{
            display: flex;
            justify-content: space-between;
            // flex-direction: column;
            flex-wrap: wrap;
            .item{
                width: 23%;
                border-radius: .2rem;
                transition: $transition;
                margin-bottom: 3rem;
                // border: 1px solid $main_color;
                &:hover{
                    box-shadow: $box-shadow;
                    transition: $transition;
                    transform: translateY(-10px);
                }
                .image{
                    height: 35rem;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: .2rem;
                    }
                }
                .detail{
                    display: flex;
                    gap: 2rem;
                    flex-direction: column;
                    padding: 2rem;
                    border-bottom: 1px solid $main_color;
                    .name{
                        font-size: 2.5rem;
                        font-weight: 600;
                    }
                    .discount__price{
                        display: flex;
                        gap: 2rem;
                        .price{
                            font-size: 1.5rem;
                            font-weight: 600;
                            &.discount{
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }
    // FEEDBACK
    .feedback{
        padding: 7rem 0  0;
        .feedback__header{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            .headline{
                font-size: 3rem;
                color: $main_color;
            }
        }
        .feedback__content{
            padding: 4rem 0;
            .feedback__list{
                .item{
                    display: flex;
                    background-color: $main_color;
                    // box-shadow: $box-shadow;
                    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                    justify-content: space-between;
                    align-items: center;
                    padding: 3rem 4rem;
                    border-radius: .5rem;
                    height: 30rem;
                    // margin: 1rem;
                    .item__content{
                        width: 70%;
                        padding: 4rem 2rem;
                        line-height: 1.6;
                        // color: $main_color;
                        color: #fff;
                        .item__content_icon{
                            font-size: 2rem;
                        }
                        .item__content_text{
                            margin-left: .5rem;
                            font-size: 1.7rem;
                        }
                        .item__content_name{
                            margin-top: 1rem;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                        .item__content_job{
                            font-style: italic;
                            font-size: 1.5rem;
                            margin-left: 2rem;
                            font-weight: normal;
                        }
                    }
                    .item__user{
                        width: 25%;
                        height: 15rem;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
    // MEMBER   
    .member{
        padding: 5rem 0 ;
        .member__content{
            background-image:linear-gradient(rgba(0,0,0,0.57),rgba(0,0,0,0.57)), url(../public/imgs/brand/sign.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            min-height: 70vh;
            position: relative;
            .detail{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                width: 100%;
                h1{
                    font-size: 7rem;
                    color: #fff;
                    margin-bottom: 3rem;
                }
                a{  
                    background-color: $main_color;
                    color: #fff;
                    border: 2px solid #fff;
                    transition: $transition;
                    &:hover{
                        transition: $transition;
                        background-color: #fff;
                        color: $main_color;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}